.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  z-index: 1000; /* Ensure it stays on top of other content */
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.about {
  display: flex;
  justify-content: center;
  background-color: rgb(164, 221, 221);
  height: 400px;
  padding: 20px;
  border-radius: 10px;
}

.about-image {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.about-image img {
  border-radius: 10px;
}

.about-text {
  max-width: 500px;
}

.section-space {
  height: 100px;
}

.nav-image {
  display: none;
}

@media (max-width: 600px) {
  .nav-links {
    display: none; 
  }

  .nav-image {
    display: block; 
  }

  .nav-image img {
    display: block;
    height: 30px;
    width: 30px;
  }
}