.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000; /* Ensure it stays on top of other content */
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  .space{
    height: 90px;
  }
  .contact-container{
    display: flex;

  }
  .contact-text{
    
padding: 60px;

  }
  .contact-Image{
    border-radius: 10px;

  }

  .contact-Image img{
    max-width: auto;
    max-height: 800px;
    object-fit: cover;
    padding:60px;
    border-radius: 10px;
    

  }
  label[for="toggle"]{
    position: fixed;
    top: 25px;
    left: 25px;
    z-index:6;
    font-size:3rem;
  }

  .navigation--responsive{
    display: none;
  }
  #toggle{
    display: none;

  }
  svg.hamburger{
    display:none;
  }


  .nav-image {
    display: none;
  }
  
  @media (max-width: 600px) {
    .nav-links {
      display: none; 
    }
  
    .nav-image {
      display: block; 
    }
  
    .nav-image img {
      display: block;
      height: 30px;
      width: 30px;
    }
  }